:root {
    --primary-color: #e8b182;
    --secondary-color: #ffb99c;
    --third-color: #e89082;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo,
footer p,
#help,
#info {
    font-family: 'Josefin slab';
}

nav {
    height: 100px;
    width: 100%;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-family: 'Josefin sans', sans-serif;
}

nav i {
    font-size: 25px;
}

/* Separador header y main */
hr {
    background-color: black;
    margin: 1em 0;
    height: 3px;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

header {
    position: absolute;
    width: 100%;
}

header nav a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

header nav a:hover:after {
    width: 100%;
}

/* Color para el logo*/
header #logo a {
    color: var(--primary-color);
    text-decoration: none;
    position: absolute;
    margin: 30px;
    font-size: 30px;
}

header #logo span {
    display: flex;
    flex-direction: column;
    align-items: end;
}

body {
    background-color: white;
    font-family: 'Josefin sans', sans-serif;
}

footer {
    position: absolute;
    background-color: var(--primary-color);
    padding: 30px;
    width: 100%;
    height: 180px;
    bottom: 0;
}

/* Color para el logo */
footer p {
    color: white;
    font-size: 25px;
}

footer ul {
    list-style-type: none;
}

footer h4 {
    font-family: 'Josefin sans', sans-serif;
    padding: 10px 0px;
}

footer #contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#links {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

#links a {
    color: white;
    margin: 10px;
    padding: 10px;
    bottom: 25px;
}

#help {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#help a {
    padding: 5px 0px;
}

#info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#info ul li {
    padding: 5px 0px;
}

#info i {
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para las respuestas ocultas */
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 3.0s ease-out;
}

/* Estilos para las respuestas visibles cuando su checkbox está marcado */
.toggle:checked+.question+.answer {
    max-height: 1000px;
    /* Un valor grande para garantizar que se muestre completamente */
    transition: max-height 3.0s ease-in;
}

/* Estilos para las preguntas */
.question {
    cursor: pointer;
}

/* Ocultar los checkboxes */
.toggle {
    display: none;
}

/* Estilos de Términos y condiciones : Título */
.titleTermsAndConditions {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

/* Estilos de Términos y condiciones : Alineación */
.listTermsAndConditions {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 20px;
}

/* Estilos de Términos y condiciones : Color de fondo de cada ítem */
.item {
    background: #fff;
}

/* Media Queries para dispositivos */
/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 3vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 400px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 720px;
    }

    .card-banner {
        padding: 0 75px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* CELULARES */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 3vw;
    }

    .h2-subtitle {
        font-size: 5vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 300px;
    }

    #search {
        height: 200px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer a {
        padding: 2px 0;
    }
}