
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --primary-color: #e8b182;
    --secondary-color: #ffb99c;
    --third-color:#E89082;
    --price-color: #fadadd;
    --dark-bg-solid:#30343F;
    --light-bg-solid:#FAFAFF;
    --product-color:#E7B182;
   
    /*Typography*/
    --base-font: 'Josefin Slab', serif;
    --alternative-font: 'sans-serif';

    /*Font sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1em;
    --font-nano: 0.8em;
    --font-xxnano: 0.4em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Separador header y main */
hr {
    background-color: black;
    margin: 1em 0;
    height: 3px;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

header {
    position: relative;
    height: auto;
    width: 100%;
}

nav {
    width: 100%;
    font-family: 'Josefin sans', sans-serif;
    text-align: end;
}

nav i {
    font-size: 25px;
}

/* Efecto subrayado */
header nav a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

header nav a:hover:after {
    width: 100%;
}

header #logo {
    padding: 30px 0 0 30px;
    width: fit-content;
}

header #logo span {
    margin-left: 40px;
}

/* Color para el logo*/
header #logo a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
}

header #container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header #menu-check,
header #menu {
    display: none;
}

body {
    background-color: white;
    font-family: 'Josefin sans', sans-serif;
}

footer {
    background-color: var(--primary-color);
    padding: 30px;
    width: 100%;
    height: auto;
    bottom: 0;
}

/* Color para el logo */
footer p {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
}

footer span {
    margin-left: 40px;
}

footer ul {
    list-style-type: none;
}

footer h4 {
    font-family: 'Josefin sans', sans-serif;
    padding: 10px 0px;
}

footer #container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#logo,
footer p,
#help,
#info {
    font-family: 'Josefin slab';
}

footer #social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

footer #links {
    position: relative;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer #links a {
    color: white;
    margin: 10px;
}

footer #help {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer #help a {
    padding: 5px 0px;
    width: fit-content;
}

footer #help a:hover {
    color: white;
}

footer #info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer #info ul li {
    padding: 5px 0px;
}

footer #info i {
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para las respuestas ocultas */
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 3.0s ease-out;
}

/* Estilos para las respuestas visibles cuando su checkbox está marcado */
.toggle:checked+.question+.answer {
    max-height: 1000px;
    /* Un valor grande para garantizar que se muestre completamente */
    transition: max-height 3.0s ease-in;
}

/* Estilos para las preguntas */
.question {
    cursor: pointer;
}

/* Ocultar los checkboxes */
.toggle {
    display: none;
}

/* Estilos de Términos y condiciones : Título */
.titleTermsAndConditions {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

/* Estilos de Términos y condiciones : Alineación */
.listTermsAndConditions {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 20px;
}

/* Estilos de Términos y condiciones : Color de fondo de cada ítem */
.item {
    background: #fff;
}

/* Opciones dentro de categoría */
#category-detail .categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#category-detail .tarjeta {
    width: 400px;
    margin: 50px;
}

#category-detail .tarjeta a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

#category-detail .tarjeta img {
    width: 100%;
    border-radius: 10px;
}

#category-detail .textocard {
    padding: 10px;
}

#category-detail .categories p {
    padding: 10px;
    font-size: 1.5vw;
}

/* Detalle de productos */
#product-detail .product {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 50px 50px 50px 0;
    font-size: 2vw;
}

#product-detail .product #image {
    min-width: 50%;
    margin: 0 50px 0 0;
}

#product-detail .product img {
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    -o-object-fit: cover;
}

#product-detail .product #info,
#product-detail .product #add {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    font-family: 'Josefin sans', sans-serif;
}

#product-detail .product #info p {
    margin: 20px;
}

#product-detail .product #info #add {
    width: 80%;
    align-self: center;
    align-content: center;
}

#product-detail .product #info #add span {
    align-self: center;
}

#product-detail .product #info .counter button {
    background-color: white;
    font-size: 2vw;
    min-width: 20px;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
}

#product-detail .product #info .counter button:hover {
    background-color: var(--third-color);
}

#product-detail .product #info .counter span {
    position: relative;
}

#product-detail .product #info .counter {
    border: 2px solid lightgray;
    border-radius: 15px;
    width: fit-content;
}

#product-detail .product #info #add {
    color: white;
    font-size: 2vw;
    margin: 30px 0 0 0;
    padding: 15px;
    background-color: var(--third-color);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#product-detail .product #info #add:hover {
    background-color: var(--primary-color);
    color: black;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries para dispositivos */
/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        font-size: 1.5vw;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
    }
}

/* CELULARES */
@media screen and (max-width: 767px) {
    header #container-header {
        display: inline;
    }

    /* Configuración de menú "hamburguesa" */
    #menu-check:not(:checked)~nav {
        display: none;
    }

    #menu-check:checked~nav {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    header #menu {
        position: absolute;
        z-index: 9999;
        right: 5vw;
        top: 5vw;
        display: block;
        font-size: 5vw;
    }

    header #menu:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    header #menu #menu-close {
        display: none;
    }

    #menu-check:checked~label #menu-open {
        display: none;
    }

    #menu-check:checked~label #menu-close {
        display: block;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        background-color: var(--primary-color);
        padding: 5vw 7vw 2vw 0;
        opacity: 0.8;
        font-size: 1.8vw;
        width: 100%;
    }

    nav a {
        margin: 5px 20px 0 0;
    }

    nav a:hover {
        color: white;
    }

    header nav a:hover:after {
        width: 0%;
    }

    /* hasta acá */

    footer {
        width: 100%;
        height: auto;
        bottom: auto;
    }

    footer #container {
        flex-direction: column;
        align-items: center;
    }

    footer #info {
        font-size: 5vw;
        margin: 10px 0 0 0;
    }

    footer a {
        padding: 2px;
    }

    footer #help {
        font-size: 5vw;
    }

    footer #social #links a {
        font-size: 5vw;
        flex-direction: column;
        align-items: end;
        margin: 10px;
    }

    #category-detail .categories p {
        padding: 10px;
        font-size: 3vw;
    }

    #product-detail .product {
        flex-direction: column;
    }

    #product-detail .product #image {
        width: 100%;
    }

    #product-detail .product #info p,
    #product-detail .product #info .counter,
    #product-detail .product #info .counter button,
    #product-detail .product #info #add {
        font-size: 5vw;
    }
}

/*--------------- Comienzo de Estilos de la página Términos y Condiciones ---------------*/

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -10px;
}

h1#main-title {
    display: inline;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    color: white;
    background: var(--primary-color);
    padding: 10px;
}

.subtitle {
    color: var(--third-color);
    font-weight: bold;
    text-align: left;
    margin: 50px 0px 50px;
}

.subtitle1 {
    margin-top: 0px;
}

#terms-and-conditions p {
    margin: 20px 0px 20px;
}

.article4 {
    margin-top: 75px;
    margin-bottom: 100px;
}

.container-grid {
    display: grid;
    grid-template-areas: "section section aside";
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Josefin Sans", sans-serif;
}


section#terms-and-conditions {
    grid-area: section;
    padding-left: 20%;

}

aside.see-more {
    grid-area: aside;
    margin: auto;
    margin-top: 50px;
    background: var(--primary-color);
    border-radius: 20px;
    width: 25vw;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.frame397,
.frame398,
.frame399,
.frame400 {
    width: 250px;
    height: 135px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.frame396,
.frame401,
.frame402,
.frame403 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.frame401 {
    margin-top: 10px;
}

.frame403 {
    margin-bottom: 10px;
}

.content397,
.image397,
.content398,
.image398,
.content399,
.image399,
.content400,
.image400 {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image397,
.image398,
.image399,
.image400 {
    object-fit: fill;
    max-width: 100%;

}

.link-products {
    color: white;

}

a.link-products:hover {
    border-bottom: 1px solid;
}

/* Media Queries para página Términos y Condiciones */

@media screen and (max-width: 1200px) {

    .container-grid {
        display: grid;
        grid-template-areas: "section section"
            "aside aside";
        grid-template-columns: 1fr 1fr;
        font-family: "Josefin Sans", sans-serif;
    }


    aside.see-more {
        grid-area: aside;
        background: #E7B182;
        border-radius: 20px;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        color: white;
        padding: 20px;
        margin-top: -50px;
        margin-bottom: 50px;

    }

    section#terms-and-conditions {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content397,
    .image397,
    .content398,
    .image398,
    .content399,
    .image399,
    .content400,
    .image400 {
        width: 250px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
    }

    .frame396 {
        width: 100%;
        justify-content: center;
    }

}

/*------------------ Fin de Estilos de la página Términos y Condiciones -----------------*/


/************Inicio home-page*******/
#home,
#home::before,
#home::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home html {
    font-size: 62.5%;
    color: var(--dark-bg-solid);
}

#home a {
    /*todos los enlaces tengan 20 px de tamaño y no tengan el subrayado, dps si quiero modificar alguno en especifico, lo hare*/
    text-decoration: none;
    font: size 2em;
    color: inherit;
}

#home ul,
ol {
    list-style-type: none;
}

#home p {
    font-size: 1.4em;
}

#home .container {
    max-width: 90%;
    padding: 10px 40px;
}

/*HERO*/
#home .hero {
    background-position: top;
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
}

#home  .carousel-item {
    height: 500px; 
  }

 #home .carousel-item img {
    height: 100%; 
     width: 100%; 
    object-fit: cover; 
  }

.d-item{
    height: 10px;
}
.d-img{
    height: 100%;
    object-fit: cover;
}

#home .carousel-caption .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    align-items: start;
}

#home .carousel-caption .hero__title {
    font-family: var(--base-font);
    color: var(--third-color);
    font-size: var(--font-xsmall);
    font-weight: 600;
}

#home .carousel-caption .hero__link {
    display: inline-block;
    color: var(--dark-bg-solid);
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-28);
    border-radius: 50px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

#home .carousel-caption .hero__link:hover {
    background-color: var(--third-color);
    color: var(--light-bg-solid);
}

/*SLIDER*/
#home .container {
    width: 90%;
    padding: 10px 40px;
}
#home .slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
    margin: var(--spacing-28) auto;
}

#home .container .slider__title {
    font-family: var(--base-font);
    font-size: var(--font-medium);
   
    background-color: var(--primary-color);
    align-items: start;
    padding: var(--spacing-12)var(--spacing-8);
    color: var(--light-bg-solid);
    font-weight: 900;
  
}
#home .container .swiper-container {
    width: 100%;
    height: 100%;
}

#home .container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: var(--font-small);
    border-radius: 15px;
    text-align: start;
  

}

#home .container .swiper-slide img {
    display: flex;
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 5px 5px;
}

#home .container .swiper-slide .card-description {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    color: var(--dark-bg-solid);
    text-align: center;
    width: 100%;
    margin: 0;
    gap: var(--spacing-8);
    padding: var(--spacing-8);
    font-family: var(--dark-bg-solid);
    font-size: var(--font-xxsmall);
    white-space: nowrap;
    transition: background .3s ease-in-out;
}

#home .container .swiper-slide .card-description:hover{    
    background-color: var(--product-color);
}
#home .container .swiper-slide .card-description:hover .card-title{
    display: block;
    color: var(--light-bg-solid);
}


#home .container .swiper-slide .card-price,
.container .swiper-slide .card-link {
    color: var(--dark-bg-solid);
   
}


#home .container .swiper-slide .card-link a {
    font-size: var(--font-xxnano);
    text-decoration: underline;
   
}

#home .swiper-button-next {
    color: var(--price-color);
    right: var(--font-large);
}

#home .swiper-button-prev {
    color: var(--price-color);
    left: var(--font-xlarge) ;
}

/***********fin home-page**********/

/***********Inicio products-page************************/

#collections,
#collections::before,
#collections::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#collections html{
    font-size: 62.5%;
    color: var(--dark-bg-solid);
}
#collections a {/*todos los enlaces tengan 20 px de tamaño y no tengan el subrayado, dps si quiero modificar alguno en especifico, lo hare*/
    text-decoration: none;
    font: size 2em;
    color:inherit;
}

#collections ul,ol{
    list-style-type: none;
}

#collections p{
    font-size: 1.4em;
}

#collections .collection-title {
    
    margin: 0;
    font-family: var(--base-font);
    background-color: var(--primary-color);
    color: var(--light-bg-solid);
    font-size: var(--font-medium);
    font-weight: 600;   
    display: inline;    
    text-align: left;
    padding: var(--spacing-12) var(--spacing-8);  
    

}        

#collections .collection__item {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;    
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#collections .card-item__cover {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#collections .card-item__cover img {
    display: block;
    width: 350px;
    border-radius: 10px;
} 

#collections .card-item__title {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    color: var(--base-color);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    padding: var(--spacing-8)var(--spacing-8);
    text-justify: center;
   
}

#collections .card-item__span{
   
    color: transparent;
    font-size:var(--font-xxsmall);
    text-transform: uppercase; 
    position: absolute;
    padding: var(--spacing-8) var(--spacing-12);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#collections .card-item__span:hover{
   
    display: block;
    font-size:var(--font-xxsmall);
    text-transform: uppercase; 
    white-space: nowrap;
    background-color: var(--third-color);
    color: var(--light-bg-solid);
    padding: var(--spacing-8) var(--spacing-28);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 5px 5px; 


}

#collection .card-item__span:hover{
    display: none;
    color: var(--dark-bg-solid);
}


/***********Fin products-page************************/

