<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Dulce Bombón</title>
</head>

<body>

    <header id="header">
        <nav>
            <div id="logo">
                <a href="../">
                    <span>DULCE</span><span> BOMBÓN</span>
                </a>
            </div>
            <ul>
                <li><a href="../">INICIO</a></li>
                <li><a href="./quienesSomos.html">QUIENES SOMOS</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
                <li><a href="./carrito.html">CARRITO</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <main></main>

    <footer id="footer">
        <div>
            <div id="social">
                <p><span>DULCE</span></p>
                <p><span>BOMBÓN</span></p>
                <div id="links">
                    <a href="https://www.instagram.com/dulcebombonpasteleria?igsh=OWkxdjIzYTk3c3R0" target="_blank">Instagram</a>
                </div>
            </div>
            <div id="help">
                <h4>AYUDA</h4>
                <a href="/templates/FAQ.html">Preguntas frecuentes</a>
                <a href="/templates/terms-and-conditions.html">Terminos y condiciones</a>
                <a href="/templates/contact.html">Contactanos</a>
            </div>
            <div id="info">
                <h4>INFORMACION</h4>
                <ul>
                    <li id="location">Argentina, Mendoza</li>
                    <li id="email">dulcebombonpasteleria@gmail.com</li>
                    <li id="phone">54 9 261 390-1040</li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>

</html>