<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Font Josefin Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Font Josefin Slab-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>Dulce Bombón</title>
</head>

<body>

    <header id="header">
        <div id="logo">
            <a href="/">
                <span>DULCE</span>
                <span>BOMBÓN</span>
            </a>
        </div>
        <nav>
            <a href="/">INICIO</a>
            <a href="">QUIENES SOMOS</a>
            <a href="">PRODUCTOS</a>
            <a href="">CONTACTO</a>
            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
        </nav>
        <hr>
    </header>

    <main></main>

    <footer id="footer">
        <div>
            <div id="social">
                <p><span>DULCE</span></p>
                <p><span>BOMBÓN</span></p>
                <div id="links">
                    <a href="https://www.instagram.com/dulcebombonpasteleria?igsh=OWkxdjIzYTk3c3R0"
                        target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div id="help">
                <h4>AYUDA</h4>
                <a href="/templates/FaQ.html">Preguntas frecuentes</a>
                <a href="/templates/terms-and-conditions.html">Terminos y condiciones</a>
                <a href="">Contactanos</a>
            </div>
            <div id="info">
                <h4>INFORMACION</h4>
                <ul>
                    <li id="location">Argentina, Mendoza</li>
                    <li id="email">dulcebombonpasteleria@gmail.com</li>
                    <li id="phone">54 9 261 390-1040</li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>