<!DOCTYPE html>
<html lang="en">
<head>   
</head>
<body id="collection">

    <header id="header"></header>    
    <section class="collection container">
      <h2 class="collection-title">NUESTROS PRODUCTOS</h2>
        <ul class="collection__items">
             <li class="collection__item">
                 
             </li>
            
        </ul>  
    </section>
    

    
    <footer id="footer"></footer>
    <script src="../js/head.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/category.js"></script>

    
    
</body>
</html>

