<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="contact">

    <header>
    </header>

    <main>
        <section>

            <div id="title">
                <h2>Formulario de Contacto</h2>
                <p>Para recibir promociones especiales y noticias, subscribite con el siguiente formulario!</p>
            </div>

            <form action="#" class="formContact" id="formContact" method="GET" novalidate>
                <!-- Nombre -->
                <div class="formGroup" id="groupName">
                    <label for="name" class="formLabel">Nombre</label>
                    <div class="formGroup-input">
                        <input type="text" class="formInput" name="name" id="name" placeholder="Nombre...">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">El nombre solo puede contener letras y espacios.</p>
                </div>

                <!-- Apellido -->
                <div class="formGroup" id="groupSurname">
                    <label for="surname" class="formLabel">Apellido</label>
                    <div class="formGroup-input">
                        <input type="text" class="formInput" name="surname" id="surname" placeholder="Apellido...">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">El apellido solo puede contener letras y espacios.</p>
                </div>

                <!-- Email -->
                <div class="formGroup" id="groupEmail">
                    <label for="email" class="formLabel">Email</label>
                    <div class="formGroup-input">
                        <input type="email" class="formInput" name="email" id="email" placeholder="email@email.com">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">El email solo puede contener letras, números, puntos y guiones.</p>
                </div>

                <!-- Teléfono -->
                <div class="formGroup" id="groupPhone">
                    <label for="phone" class="formLabel">Teléfono</label>
                    <div class="formGroup-input">
                        <input type="text" class="formInput" name="phone" id="phone" placeholder="5491112223333">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">El teléfono solo puede contener números.</p>
                </div>

                <!-- Ubicación -->
                <div class="formGroup" id="groupLocation">
                    <label for="location" class="formLabel">Ubicación</label>
                    <div class="formGroup-input">
                        <input type="text" class="formInput" name="location" id="location" placeholder="Ubicación...">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">La ubicación solo puede contener letras, espacios y números.</p>
                </div>

                <!-- Género -->
                <div class="formGroup" id="groupGenre">
                    <label for="genre" class="formLabel">Género</label>
                    <div class="formGroup-input">
                        <select class="formInput" name="genre" id="genre">
                            <option value="masculino">Másculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="other">Otro</option>
                        </select>
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">Seleccione una opción.</p>
                </div>

                <!-- Redes -->
                <div class="formGroupSocialMedia" id="groupSocialMedia">
                    <label for="social-media" class="formLabel">¿Cómo nos conociste?</label>
                    <div class="formGroup-radioInput">
                        <label for="instagram" class="formLabel">Instagram<i class="fa-brands fa-instagram"></i></label>
                        <input type="radio" name="radio" id="instagram">

                        <label for="facebook" class="formLabel">Facebook<i class="fa-brands fa-facebook"></i></label>
                        <input type="radio" name="radio" id="facebook">

                        <label for="other" class="formLabel">Otro<i class="fa-regular fa-comments"></i></label>
                        <input type="radio" name="radio" id="other">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">Seleccione al menos una opción.</p>
                </div>

                <!-- Archivo -->
                <div class="formGroup" id="groupFile">
                    <label for="file" class="formLabel">Envía una imágen que te represente!</label>
                    <div class="formGroup-input">
                        <input type="file" class="formInput" name="file" id="file">
                        <i class="formValidationState fa-solid fa-xmark"></i>
                    </div>
                    <p class="formError">Seleccione un archivo (.png - .jpg - .jpeg).</p>
                </div>

                <div class="formMessage" id="errorMessage">
                    <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> Por favor completa el formulario
                        correctamente.</p>
                </div>

                <div class="formGroup formGroup-btn">
                    <button type="reset" class="formBtn">Borrar</button>
                    <button type="submit" class="formBtn">Enviar</button>
                    <p class="formMessageSuccess" id="successMessage">Formulario enviado exitosamente!</p>
                </div>
            </form>
        </section>

    </main>

    <footer>
    </footer>

    <script src="../js/head.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>

</body>

</html>