<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Contactos</title>    
</head>


<body>
    <header>

    </header>

    <div class="editar-contactos">
        <h1 id="editarContactos">Editar Contactos</h1><br>
        <table>            
            <tr>
                <td class="contenedor-centrado "><a href="listado.html">Listado de contactos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="modificaciones.html">Modificar datos del contacto</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="listadoEliminar.html">Eliminar contacto</a></td>
            </tr>
        </table>
    </div>
    
    <footer id="footer"></footer>

    <script src="../js/head.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>

</body>

</html>