<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <nav>
            <div id="logo">
                <a href="../">
                    <span>DULCE</span><span> BOMBÓN</span>
                </a>
            </div>
            <ul>
                <li><a href="../">INICIO</a></li>
                <li><a href="./quienesSomos.html">QUIENES SOMOS</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
                <li><a href="./carrito.html">CARRITO</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
        <h1>Preguntas frecuentes</h1>

        <section>
            <h2>PAGOS</h2>
            <div>
                <h2>¿Cón qué puedo pagar?</h2>
                <p>Contamos con distintos métodos de pago para facilitar tu compra.
                    1. Pagos en línea con:
                    PayPal, tarjetas de débito (solo tarjetas mexicanas), tarjetas de crédito (Visa, Mastercard, y American Express), pagos en OXXO en efectivo, y transferencias vía SPEI.
                    2. Pagos contra entrega (opción disponible para entregas en el área metropolitana de Monterrey).
                    Puedes pagar al recibir tu pedido con tarjeta de debito o crédito o pagar en efectivo. (En caso que no haya conexión en el lugar de entrega, el pago deberá de realizarse en efectivo)
                    3. Pedidos por teléfono: 
                    Puedes realizar tu pedido vía telefónica al (81) 8345-4550
                    4. En sucursales:
                    Acudiendo directamente a cualquiera de nuestras sucursales.</p>
            </div>
            <div>
                <h2>¿Puedo realizar mi pedido por telefono?</h2>
                <p>Sí, puedes comunicarte al (81) 8345-4550 para realizar tu pedido por teléfono.
                    *Aplica solamente para pasteles de vitrina.</p>
            </div>
            <div>
                <h2>¿Hay una compra minima?</h2>
                <p>La compra mínima para pedidos en línea es de $205 </p>
            </div>
            <div>
                <h2>¿Qué metedos de pago estan disponibles para pagos contra entrega?</h2>
                <p>Puedes pagar tu pedido contra entrega cone efectivo o con tarjetas de debito o crédito. En caso que la terminal bancaria no tenga conexion en el lugar de entrega, el pago debe de realizarse en efectivo. 
                    En caso de pagos en efectivo contra entrega con billetes de $1000 la compra mínima es de $600.</p>
            </div>
            <div>
                <h2>
                    ¿Cómo solicito mi factura?
                    <p>La factura se solicita el mismo día de tu compra, directamente en la sucursal donde se realizo la compra.</p>
                </h2>
            </div>
        </section>
        <section>
            <h2>ENVIOS</h2>
            <div>
                <h2>
                    ¿Qué costo tienen los envíos?
                </h2>
                <p>El costo de envío para el area metropolitana de Monterrey varía de acuerdo a las zonas y productos.
                    Zona Metropolitana de Monterrey - Productos Infantiles:
                    -Apodaca: $150
                    -General Escobedo: $120
                    -Guadalupe: $120
                    -Monterrey: $120
                    -San Nicolás de los Garza: $120
                    -Santa Catarina: $120
                    -García: $150
                    -Juarez: $150</p>
            </div>
            <div>
                <h2>
                    ¿Cuándo llegará mi pedido?
                </h2>
                <p>De Lunes a Domingo
                    Pedidos realizados en el rango horario de 7:00 am a 10:00 am ,se entregan de 10:30 am a 2:00 pm.
                    Pedidos realizados de 10:30 am a 2:30 pm, se entregan de 3:00 pm a 5:30 pm.
                    Pedidos realizados de 5:30 pm a 9:00 pm se entregan al día siguiente, en horario de 10:30 am a 2:00 pm.
                    Toma de pedidos de 11:00 a.m. a 2:00 p.m. - Entrega de 2:30p.m. a 6:00 p.m.
                    25 de Diciembre , 1 de Enero, 14 de Febrero y 10 de Mayo   **NO HAY SERVICIO A DOMICILIO</p>
            </div>
            <div>
                <h2>
                    ¿A dónde realizan envíos?
                </h2>
                <p>Envíos a domicilio aplican únicamente en códigos postales del área metropolitana de Monterrey (no aplica Zuazua, Huinala, y Santiago).
                </p>
            </div>
            <div>
                <h2>
                    ¿Envían todos sus productos a domicilio?
                </h2>
                <p>El servicio a domicilio no esta disponible para las categorías de pasteles de nota (Infantiles, Boda, y XV Años).
                    *Solo aplica para pasteles de vitrina 20 ó 30 personas.</p>
            </div>
        </section>
        
    </main>

    <footer id="footer">
        <div>
            <div id="social">
                <p><span>DULCE</span></p>
                <p><span>BOMBÓN</span></p>
                <div id="links">
                    <a href="https://www.instagram.com/dulcebombonpasteleria?igsh=OWkxdjIzYTk3c3R0" target="_blank">Instagram</a>
                </div>
            </div>
            <div id="help">
                <h4>AYUDA</h4>
                <a href="/templates/FAQ.html">Preguntas frecuentes</a>
                <a href="/templates/terms-and-conditions.html">Terminos y condiciones</a>
                <a href="/templates/contact.html">Contactanos</a>
            </div>
            <div id="info">
                <h4>INFORMACION</h4>
                <ul>
                    <li id="location">Argentina, Mendoza</li>
                    <li id="email">dulcebombonpasteleria@gmail.com</li>
                    <li id="phone">54 9 261 390-1040</li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>