<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home  | Dulce Bombón</title>
   !<!-- <link rel="stylesheet" href="../static/css/style.css">-->
    <link rel="stylesheet" href="../static/css/stylehome.css">
</head>
<body id="home">
    <!-- Home Header 
    <header>
        <nav>
            <picture>
                <a href="./templates/index.html">
                    <img src="../static/img/favicon.ico" alt="Isologotipo de la marca Dulce Bombón" id="">
                </a>
            </picture>
            <ul>
                <li>
                    <a href="./templates/products-detail.html">PRODUCTOS</a>
                  </li>
              <li>
                <a href="./templates/quienesSomos.html">QUIENES SOMOS</a>
              </li>
             
              <li>
                <a href="./templates/contact.html">CONTACTO</a>
              </li>  
              <li>
                <a href="./templates/cart.html">
                    <img src="../static/img/" alt="Carrito de compras">
                </a>
              </li>
            </ul>
        </nav>
    </header>
    end Header -->
    <main>
        <section class="hero">
            <article class="hero__content">
                <p class="hero__title">No te resistas a la tentacion</p>           
                <a class="hero__link"href="./templates/products-detail.html">COMPRAR AHORA</a>
            </article>        
        <section>
            <h2>LO MAS VENDIDO</h2>
            <ul>
                <li>
                    <article>
                        <picture>
                            <img src="../static/img/redVelvet-piece-cake-1.png" alt="imagen de dulce bombon">
                        </picture>
                        <div>
                            <h4>TORTA RED VELVET</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <picture>
                            <img src="../static/img/chocolate-piece-cake-1.png" alt="imagen de dulce bombon">
                        </picture>
                        <div>
                            <h4>TARTA DE CHOCOLATE</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <picture>
                            <img src="../static/img/macaroon-3.png "alt="imagen de dulce bombon">
                        </picture>
                        <div>
                            <h4>MACARON DE MANGO</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p> 
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <picture>
                            <img src="../static/img/muffins-5.jpeg" alt="imagen de dulce bombon">
                        </picture>
                        <div>
                            <h4>MUFFIN  BRUCE</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <picture>
                            <img src="../static/img/coffee-piece-cake-1.png" alt="imagen de dulce bombon">
                        </picture>
                        <div>
                            <h4>TORTA DE CAFE</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p> 
                        </div>
                    </article>
                </li>
            </ul>
        </section>    
        
    </main>
</body>
</html>

