<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home  | Dulce Bombón</title>
</head>
<body>
    <!-- Home Header 
    <header>
        <nav>
            <picture>
                <a href="./templates/index.html">
                    <img src="../static/img/favicon.ico" alt="Isologotipo de la marca Dulce Bombón" id="">
                </a>
            </picture>
            <ul>
                <li>
                    <a href="./templates/products-detail.html">PRODUCTOS</a>
                  </li>
              <li>
                <a href="./templates/quienesSomos.html">QUIENES SOMOS</a>
              </li>
             
              <li>
                <a href="./templates/contact.html">CONTACTO</a>
              </li>  
              <li>
                <a href="./templates/cart.html">
                    <img src="../static/img/" alt="Carrito de compras">
                </a>
              </li>
            </ul>
        </nav>
    </header>
    end Header -->
    <main>
        <section>
            <article>
                <p>No te resistas a la tentacion</p>           
                <a href="./templates/">COMPRAR AHORA</a>
            </article>
        </section>
        <section>
            <h2>LO MAS VENDIDO</h2>
            <ul>
                <li>
                    <article>
                        <div>
                            <h4>TORTA RED VELVET</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                        <picture>
                            <img src="../static/img/" alt="imagen de dulce bombon">
                        </picture>
                    </article>
                </li>
                <li>
                    <article>
                        <div>
                            <h4>ECLAIR PISTACHO</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                        <picture>
                            <img src="../static/img/" alt="imagen de dulce bombon">
                        </picture>
                    </article>
                </li>
                <li>
                    <article>
                        <div>
                            <h4>MACARON DE MANGO</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p> 
                        </div>
                        <picture>
                            <img src="../static/img/" alt="imagen de dulce bombon">
                        </picture>
                    </article>
                </li>
                <li>
                    <article>
                        <div>
                            <h4>MUFFIN  BRUCE</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p>
                        </div>
                        <picture>
                            <img src="../static/img/" alt="imagen de dulce bombon">
                        </picture>
                    </article>
                </li>
                <li>
                    <article>
                        <div>
                            <h4>TORTA AMARETTO</h4>
                            <p>Porción $5.000</p>
                            <p>Añadir al carrito</p> 
                        </div>
                        <picture>
                            <img src="../static/img/" alt="imagen de dulce bombon">
                        </picture>
                    </article>
                </li>
            </ul>
        </section>    
        
    </main>
</body>
</html>

