<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title></title>
</head>
<body id="login">
    <section>
        <div class="containerLogin">
            <div class="formLogin">
                <form action="#">   
                    <h2>LOGIN</h2>
                    <div class="inputBoxLogin">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" required="required">
                        <label for="#">Email</label>
                    </div>
                    <div class="inputBoxLogin">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required="required">
                        <label for="#">Contraseña</label>
                    </div>
                    <div class="remember">
                        <label for="#">
                            <input type="checkbox"> Recordar
                            <a href="#">Olvide mi Contraseña</a> 
                        </label>
                    </div>
                    <div>
                        <button>Acceder</button>
                        <div class="register">
                            <p>¿No tienes cuenta? <a href="/templates/contact.html">Registrate</a></p>
                        </div>
                    </div>
                </form>
        </div>
    </section>
    <script src="../js/login.js"></script>
</body>
</html>