<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body id="collections">
    <header id="header"></header>
    <main>
      <h2 class="collection-title">NUESTROS PRODUCTOS</h2>

      <section class="collection container">
        <ul class="collection__items">
          <li class="collection__item"></li>
        </ul>
      </section>
    </main>

    <footer id="footer"></footer>
    <script src="../js/head.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/products.js"></script>
  </body>
</html>
