<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="product-detail">

    <header>
    </header>

    <main>
        <section class="product">
            <div id="image">
                <img src="../static/img/muffins-2.jpeg" alt="muffins-chocolate">
            </div>
            <div id="info">
                <p>MUFFINS X 6 UNIDADES</p>
                <p>Chocolate y mantequilla de mani</p>
                <p>$7000</p>
                <div class="counter">
                    <button id="minus" onclick="decrement()">-</button>
                    <span id="num">01</span>
                    <button id="plus" onclick="increment()">+</button>
                </div>
                <button id="add"><span>Agregar al carrito</span></button>
            </div>
        </section>
    </main>

    <footer>
    </footer>

    <script src="../js/product-detail.js"></script>
    <script src="../js/head.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>

</body>

</html>