<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/558efe80fa.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>

  <header id="header">
  </header>

  <main>

    <div class="title">
      <h1 id="main-title">Términos y condiciones</h1>
    </div>
    
    <div class="container-grid">

      <span class="ir-arriba">
        <i class="fa-solid fa-chevron-up fa-bounce"></i>
      </span>

      <section id="terms-and-conditions">

        <article class="article1">

          <div class="subtitle subtitle1">
            <p>
              Políticas de modificaciones a las especificaciones del producto:
            </p>
          </div>

          <p>Cualquier cambio en las especificaciones, diseño o tamaño de productos deberá enviarlos el cliente por escrito con al menos 15 días antes de la entrega de los productos.</p>

          <p>El cliente acepta que cualquier modificación en las especificaciones de los productos y/o servicios de entrega podrán generar una variación en el precio cotizado inicialmente.</p>

          <p>Dulce Bombón entiende que, debido a circunstancias especiales o causas de fuerza mayor, el cliente pueda solicitar una modificación en el diseño, sabor o elementos del producto solicitado. Si es con más de 7 días hábiles, no acordada para la entrega o recogida, se aplicará una penalización del 30% sobre el total del pedido original.</p>

          <p>Los cambios estarán sujetos a la disponibilidad de nuestros productos y la capacidad de la pastelería para cumplir con las nuevas especificaciones solicitadas. Nos reservamos el derecho de aprobar o rechazar cualquier cambio solicitado después del plazo de 7 días hábiles.</p>

          <p>Los clientes deberán comunicarse con la pastelería de manera inmediata para notificar cualquier cambio requerido en su pedido y enviar dicho cambio de manera escrita para que quede registrada la solicitud del cambio. La pastelería proporcionará información sobre la viabilidad del cambio y la posible penalización correspondiente.</p>

          <p>La penalización del 30% sobre el total del pedido se agregará al monto restante a pagar después de realizar los cambios solicitados y aprobados. El cliente se compromete a pagar el monto total ajustado por lo menos un día hábil antes de la entrega o recogida del producto.</p>

          <p>Dicho monto será notificado al cliente al momento de recibir su confirmación de cambio por parte de la pastelería.</p>

          <p>Estos términos y condiciones están diseñados para garantizar la eficiencia en la gestión de pedidos y la satisfacción de nuestros clientes. Al realizar un pedido con Dulce Bombón, se considera la aceptación de estos términos para cualquier cambio realizado con menos de 7 días de anticipación.</p>

        </article>

        <article class="article2">

          <div class="subtitle">
            <p>
              Recomendaciones de almacenamiento y manejo de los productos:
            </p>
          </div>

          <p>Los pasteles de fondant deben almacenarse en un lugar fresco y seco. Lejos del sol, calor, hornos o lugares calientes y húmedos. No es necesario conservarlos en refrigeración, ya que el fondant crea una capa selladora que permite que el pastel tenga una duración hasta de 3 días sin necesidad de refrigeración.</p>

          <p>El transporte de los productos, en caso de que el cliente los recoja en sucursal, se recomienda que sea en un vehículo con aire acondicionado y se transporte en la cajuela o en el piso del copiloto, ya que estos ofrecen una superficie plana. Se recomienda que no sean transportados sobre los asientos, ya que tienden a tener inclinaciones que pueden afectar la decoración y estructura del pastel, y pueden sufrir desperfectos o resbalarse en caso de una frenada de emergencia o movimiento brusco.</p>

        </article>

        <article class="article3">

          <div class="subtitle">
            <p>
              Garantías y responsabilidad de los productos:
            </p>
          </div>

          <p>Si por alguna causa en la que Dulce Bombón fuera responsable de que el producto tenga algún faltante de alguno de los detalles o personajes especificados por el cliente en su pedido, Dulce Bombón realizará de ser posible nuevamente el producto en los términos pactados o el cliente podrá optar por recibir un descuento proporcional a las partes faltantes, esto sin que genere responsabilidad para Dulce Bombón por cualquier daño o perjuicio causado a el cliente por este motivo.</p>

          <p>En el caso de que la entrega del producto se realice fuera de tiempo por causas imputables a el cliente, éste asumirá dicha responsabilidad y pagará a Dulce Bombón el importe total establecido al momento de realizar el pedido.</p>

        </article>

          <article class="article4">

            <p>*NOTA FINAL: Estos términos y condiciones están diseñados para garantizar la eficiencia en la gestión de pedidos y la satisfacción de nuestros clientes. Al realizar un pedido con Pasteles Increíbles, se considera la aceptación de estos</p>

          </article>

      </section>

        <aside class="see-more">

          <div class="frame396">
            <p>Conoce todos nuestros productos</p>
          </div>
  
          <div class="frame397">
            <div class="content397">
              <h3>
                <a class="link-products" href="./product-detail.html">VER MÁS</a>                
              </h3>
            </div>
            <div class="image397">
              <img
                src="../static/img/macaroon-3.png"
                alt="macaroon"
                width="100"
                height="150"
              />
            </div>
          </div>
  
          <div class="frame398">
            <div class="content398">
              <h3>         
                <a class="link-products" href="./product-detail.html">VER MÁS</a>              
              </h3>
            </div>
            <div class="image398">
              <img
                src="../static/img/redVelvet-piece-cake-1.png"
                alt="redVelvet-piece-cake"
                width="120"
                height="80"
              />
            </div>
          </div>
  
          <div class="frame399">
            <div class="content399">
              <h3>         
                <a class="link-products" href="./product-detail.html">VER MÁS</a>              
              </h3>
            </div>
            <div class="image399">
              <img
                src="../static/img/close-up-eclair-with-nuts.png"
                alt="chocolate-piece-cake"
                width="120"
                height="100"
              />
            </div>
          </div>
  
          <div class="frame400">
            <div class="content400">
              <h3>         
                <a class="link-products" href="./product-detail.html">VER MÁS</a>              
              </h3>
            </div>
            <div class="image400">
              <img
                src="../static/img/coffee-piece-cake-1.png"
                alt="redVelvet-piece-cake"
                width="120"
                height="80"
              />
            </div>
          </div>
  
          <div class="frame401">
            <h3>COMPRA CON SEGURIDAD</h3>
            <p>Tus datos siempre protegidos</p>
          </div>
  
          <div class="frame402">
            <h3>PAGA COMO QUIERAS</h3>
            <p>Tarjetas de crédito o efectivo</p>
          </div>
  
          <div class="frame403">
            <h3>ENVIAMOS TU COMPRA</h3>
            <p>Entrega garantizada en tiempo y forma</p>
          </div>
  
        </aside>

    </div>

  </main>

  <footer id="footer">
  </footer>

  <script src="../js/head.js"></script>
  <script src="../js/ir-arriba.js" ></script>
  <script src="../js/header.js"></script>
  <script src="../js/footer.js"></script>
  
</body>

</html>