<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Términos y condiciones</title>
  </head>
  <body>
    <header id="header">
      <nav>
        <div id="logo">
          <a href="../"> <span>DULCE</span><span> BOMBÓN</span> </a>
        </div>
        <ul>
          <li><a href="../">INICIO</a></li>
          <li><a href="./quienesSomos.html">QUIENES SOMOS</a></li>
          <li><a href="./productos.html">PRODUCTOS</a></li>
          <li><a href="./contacto.html">CONTACTO</a></li>
          <li><a href="./carrito.html">CARRITO</a></li>
        </ul>
      </nav>
      <hr />
    </header>

    <main>
      <section>
        <div class="titleTermsAndConditions">
          <h1>Términos y condiciones</h1>
        </div>

        <div class="listTermsAndConditions">
          <div class="item item-1">
            <h3>1. Política de Privacidad:</h3>
            <p>
              Describe cómo se recopila, almacena y utiliza la información
              personal de los visitantes del sitio web. Incluye detalles sobre
              cookies, seguimiento y protección de datos.
            </p>
          </div>
          <div class="item item-2">
            <h3>2. Términos de Uso:</h3>
            <p>
              Establece las reglas para el uso del sitio web, como la propiedad
              intelectual, la conducta del usuario y las restricciones de
              acceso.
            </p>
          </div>
          <div class="item item-3">
            <h3>3. Compra y Entrega:</h3>
            <p>
              Detalla los términos relacionados con la compra de productos en
              línea, como precios, métodos de pago, envío y devoluciones.
            </p>
          </div>
          <div class="item item-4">
            <h3>4. Responsabilidad Legal:</h3>
            <p>
              Aclara la responsabilidad de la pastelería en caso de errores,
              daños o pérdidas relacionadas con el uso del sitio web.
            </p>
          </div>
          <div class="item item-5">
            <h3>5. Propiedad Intelectual:</h3>
            <p>
              Protege los derechos de autor, marcas registradas y otros activos
              intelectuales asociados con la marca “Dulce Bombón”.
            </p>
          </div>
          <div class="item item-6">
            <h3>6. Comentarios y Contenido de Usuarios:</h3>
            <p>
              Establece las reglas para los comentarios y contenido generado por
              los usuarios en el sitio web. Puede incluir moderación y
              eliminación de contenido inapropiado.
            </p>
          </div>
          <div class="item item-7">
            <h3>7. Política de Cookies:</h3>
            <p>
              Informa a los visitantes sobre el uso de cookies en el sitio web y
              cómo pueden administrar sus preferencias.
            </p>
          </div>
          <div class="item item-8">
            <h3>8. Cancelación de Cuenta:</h3>
            <p>
              Describe los procedimientos para cancelar una cuenta de usuario en
              el sitio web.
            </p>
          </div>
          <div class="item item-9">
            <h3>9. Contacto y Atención al Cliente:</h3>
            <p>
              Proporciona información de contacto para consultas, quejas o
              asistencia al cliente.
            </p>
          </div>
          <div class="item item-10">
            <h3>10. Cambios en los Términos y Condiciones:</h3>
            <p>
              Explica cómo se notificarán y aplicarán los cambios en los
              términos y condiciones.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <div>
        <div id="social">
          <p><span>DULCE</span></p>
          <p><span>BOMBÓN</span></p>
          <div id="links">
            <a
              href="https://www.instagram.com/dulcebombonpasteleria?igsh=OWkxdjIzYTk3c3R0"
              target="_blank"
              >Instagram</a
            >
          </div>
        </div>
        <div id="help">
          <h4>AYUDA</h4>
          <a href="./FaQ.html">Preguntas frecuentes</a>
          <a href="./terms-and-conditions.html">Términos y condiciones</a>
          <a href="/templates/contact.html">Contactanos</a>
        </div>
        <div id="info">
          <h4>INFORMACION</h4>
          <ul>
            <li id="location">Argentina, Mendoza</li>
            <li id="email">dulcebombonpasteleria@gmail.com</li>
            <li id="phone">54 9 261 390-1040</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
